* {
	margin:	0;
	padding: 0;
}

body {
	margin: auto;
	min-width: 400px;
	max-width: 1200px;
	padding: 25px;
	font-family: monospace;
}

#footer {
	float: left;
	height: 50px;
	width: 100%;
}

#deck {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}	

#header {
	padding: 10px;
	width: 60%;
	margin: auto;
}

#controls {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#counter {
	margin: 10px -10px 10px -10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.indicator {
	background: rgba(0, 0, 0, 0.1);
	margin: -2px;
	list-style-type: none;
 	display: inline-block;
 	height: 14px;
 	width: 14px;
 	text-align: center;
 	font-size: 12px;
 	font-weight: bold;
 	border-radius: 7px;
 	text-align: center;
}

.indicator.taken {
	background: black;
	color: white;
}

.red .indicator.taken {
	background: #C1272D;
}

.suit {
	margin: 10px;
}

#title {
	text-align: center;
	font-size: 50px;
	letter-spacing: 10px;
}

.button {
	min-width: 160px;
	padding: 10px;
	border-radius: 5px;
	font-family: monospace;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	background-color: transparent;
	border: solid 1px rgba(0, 0, 0, 0.2);
	color: black;
	margin: 10px;

}

.button_active {
	background-color: black;
	border: solid 1px black;
	color: white;
}

.button_icon {
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: text-bottom;
	margin-right: 5px;
 	background-size: contain;
}

#button_date {
}

#sort_date {
 	background-image: url("assets/sort_date.svg");
}

.button_active #sort_date {
 	background-image: url("assets/sort_date_white.svg");
}

#sort_name {
 	background-image: url("assets/sort_name.svg");
}

.button_active #sort_name {
 	background-image: url("assets/sort_name_white.svg");
}

.card_frame {
 	list-style-type: none;
 	display: inline-block;
	margin: 25px 25px 0 25px;
}

.card {
	width: 250px;
	height: 350px;
	perspective: 1000px;
}

.card_inner {
	background: white;
	width: 100%;
	height: 100%;
	transition: transform 0.5s;
	transform-style: preserve-3d;
	position: relative;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	border-radius: 16px;
}

.card_inner.is_flipped {
	transform: rotateY(180deg);
}

.card_face {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	overflow: hidden;
	box-shadow: 0 3px 18px 3px rgba(0, 0, 0, 0.2);
	border-radius: 16px;

}

.card_face_back {
	transform: rotateY(180deg);
 	background-image: url("assets/back.png");
 	background-repeat: no-repeat;
 	background-size: 210px 310px;
	background-position: 20px 20px;
}

.card_face_front {
	background-repeat: no-repeat;
 	background-size: 210px 330px;
	background-position: 20px 10px;
}

.download {
	height: 20px;
	width: 20px;
 	background-image: url("assets/download.svg");
	background-repeat: no-repeat;
	background-position: center;
 	padding: 10px;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	float: right;
	margin-top: 10px;
}

.name {
	margin: 10px 0 0 10px;
	float: left;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	font-weight: bold;

}

#c_01 .card_face_front {
 	background-image: url("assets/c_01.png");
}
#c_02 .card_face_front {
 	background-image: url("assets/c_02.png");
}
#c_03 .card_face_front {
 	background-image: url("assets/c_03.png");
}
#c_04 .card_face_front {
 	background-image: url("assets/c_04.png");
}
#c_05 .card_face_front {
 	background-image: url("assets/c_05.png");
}
#c_06 .card_face_front {
 	background-image: url("assets/c_06.png");
}
#c_07 .card_face_front {
 	background-image: url("assets/c_07.png");
}
#c_08 .card_face_front {
 	background-image: url("assets/c_08.png");
}
#c_09 .card_face_front {
 	background-image: url("assets/c_09.png");
}
#c_10 .card_face_front {
 	background-image: url("assets/c_10.png");
}
#c_11 .card_face_front {
 	background-image: url("assets/c_11.png");
}
#c_12 .card_face_front {
 	background-image: url("assets/c_12.png");
}
#c_13 .card_face_front {
 	background-image: url("assets/c_13.png");
}

#d_01 .card_face_front {
 	background-image: url("assets/d_01.png");
}
#d_02 .card_face_front {
 	background-image: url("assets/d_02.png");
}
#d_03 .card_face_front {
 	background-image: url("assets/d_03.png");
}
#d_04 .card_face_front {
 	background-image: url("assets/d_04.png");
}
#d_05 .card_face_front {
 	background-image: url("assets/d_05.png");
}
#d_06 .card_face_front {
 	background-image: url("assets/d_06.png");
}
#d_07 .card_face_front {
 	background-image: url("assets/d_07.png");
}
#d_08 .card_face_front {
 	background-image: url("assets/d_08.png");
}
#d_09 .card_face_front {
 	background-image: url("assets/d_09.png");
}
#d_10 .card_face_front {
 	background-image: url("assets/d_10.png");
}
#d_11 .card_face_front {
 	background-image: url("assets/d_11.png");
}
#d_12 .card_face_front {
 	background-image: url("assets/d_12.png");
}
#d_13 .card_face_front {
 	background-image: url("assets/d_13.png");
}

#s_01 .card_face_front {
 	background-image: url("assets/s_01.png");
}
#s_02 .card_face_front {
 	background-image: url("assets/s_02.png");
}
#s_03 .card_face_front {
 	background-image: url("assets/s_03.png");
}
#s_04 .card_face_front {
 	background-image: url("assets/s_04.png");
}
#s_05 .card_face_front {
 	background-image: url("assets/s_05.png");
}
#s_06 .card_face_front {
 	background-image: url("assets/s_06.png");
}
#s_07 .card_face_front {
 	background-image: url("assets/s_07.png");
}
#s_08 .card_face_front {
 	background-image: url("assets/s_08.png");
}
#s_09 .card_face_front {
 	background-image: url("assets/s_09.png");
}
#s_10 .card_face_front {
 	background-image: url("assets/s_10.png");
}
#s_11 .card_face_front {
 	background-image: url("assets/s_11.png");
}
#s_12 .card_face_front {
 	background-image: url("assets/s_12.png");
}
#s_13 .card_face_front {
 	background-image: url("assets/s_13.png");
}

#h_01 .card_face_front {
 	background-image: url("assets/h_01.png");
}
#h_02 .card_face_front {
 	background-image: url("assets/h_02.png");
}
#h_03 .card_face_front {
 	background-image: url("assets/h_03.png");
}
#h_04 .card_face_front {
 	background-image: url("assets/h_04.png");
}
#h_05 .card_face_front {
 	background-image: url("assets/h_05.png");
}
#h_06 .card_face_front {
 	background-image: url("assets/h_06.png");
}
#h_07 .card_face_front {
 	background-image: url("assets/h_07.png");
}
#h_08 .card_face_front {
 	background-image: url("assets/h_08.png");
}
#h_09 .card_face_front {
 	background-image: url("assets/h_09.png");
}
#h_10 .card_face_front {
 	background-image: url("assets/h_10.png");
}
#h_11 .card_face_front {
 	background-image: url("assets/h_11.png");
}
#h_12 .card_face_front {
 	background-image: url("assets/h_12.png");
}
#h_13 .card_face_front {
 	background-image: url("assets/h_13.png");
}